include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_customize *.css
recursive-include erpnext_customize *.csv
recursive-include erpnext_customize *.html
recursive-include erpnext_customize *.ico
recursive-include erpnext_customize *.js
recursive-include erpnext_customize *.json
recursive-include erpnext_customize *.md
recursive-include erpnext_customize *.png
recursive-include erpnext_customize *.py
recursive-include erpnext_customize *.svg
recursive-include erpnext_customize *.txt
recursive-exclude erpnext_customize *.pyc